<%= form_for(@expidition) do |f| %>
   <% if @expidition.errors.any? %>
      <div id="error_explanation">
         <h2><%= pluralize(@expidition.errors.count, "error") %> prohibited this expidition from being saved:</h2>

         <ul>
            <% @expidition.errors.full_messages.each do |message| %>
               <li><%= message %></li>
            <% end %>
         </ul>
      </div>
   <% end %>

   <div class="field">
   Expeditionszeit in Stunden:<br>
   <%= number_field_tag(:exp_time, 1, within: 1...25) %>
   <br><br>
   <table border="1">
      <colgroup span=2></colgroup>
      <tr>
         <th></th>
         <th>Einheit</th>
         <th>stationierte Menge</th>
         <th>zu schickende Anzahl</th>
      </tr>

      <% @units.each do |unit| %>
         <tr>
         <td>icon<!--unit.icon, benötigt Funktion der Unit--></td>
           <td align=left ><%= unit.name %></td>       
           <td><%= Expidition.shipamount(unit.id) %></td>
           <!--#TODO ID gegen Datenbankabfrage austauschen und Max Werte für die Einheiten hinzufügen-->
           <td><%= number_field_tag(unit.id, 0, min:0, max: Expidition.shipamount(unit.id)) %></td>
         </tr>

      <% end %>

            </table>
   <br>

   <div class="actions">
      <%= f.submit %>
   </div>
<% end %>
