<p id="notice"><%= notice %></p>

<p>
  <strong>Mes:</strong>
  <%= @message.mes %>
</p>

<p>
  <strong>Code:</strong>
  <%= @message.code %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
