<%= form_for(@damage_type) do |f| %>
  <% if @damage_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@damage_type.errors.count, "error") %> prohibited this damage_type from being saved:</h2>

      <ul>
      <% @damage_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :shell_mult %><br>
    <%= f.text_field :shell_mult %>
  </div>
  <div class="field">
    <%= f.label :shield_mult %><br>
    <%= f.text_field :shield_mult %>
  </div>
  <div class="field">
    <%= f.label :station_mult %><br>
    <%= f.text_field :station_mult %>
  </div>
  <div class="field">
    <%= f.label :plattform_mult %><br>
    <%= f.text_field :plattform_mult %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
