<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @damage_type.name %>
</p>

<p>
  <strong>Shell mult:</strong>
  <%= @damage_type.shell_mult %>
</p>

<p>
  <strong>Shield mult:</strong>
  <%= @damage_type.shield_mult %>
</p>

<p>
  <strong>Station mult:</strong>
  <%= @damage_type.station_mult %>
</p>

<p>
  <strong>Plattform mult:</strong>
  <%= @damage_type.plattform_mult %>
</p>

<%= link_to 'Edit', edit_damage_type_path(@damage_type) %> |
<%= link_to 'Back', damage_types_path %>
