<%= form_for(@stationtype) do |f| %>
  <% if @stationtype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stationtype.errors.count, "error") %> prohibited this stationtype from being saved:</h2>

      <ul>
      <% @stationtype.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :statID %><br>
    <%= f.number_field :statID %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :costMineral %><br>
    <%= f.number_field :costMineral %>
  </div>
  <div class="field">
    <%= f.label :costCristal %><br>
    <%= f.number_field :costCristal %>
  </div>
  <div class="field">
    <%= f.label :costFuel %><br>
    <%= f.number_field :costFuel %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
