<p id="notice"><%= notice %></p>

<h1>Listing Stationtypes</h1>

<table>
  <thead>
    <tr>
      <th>Statid</th>
      <th>Name</th>
      <th>Costmineral</th>
      <th>Costcristal</th>
      <th>Costfuel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stationtypes.each do |stationtype| %>
      <tr>
        <td><%= stationtype.statID %></td>
        <td><%= stationtype.name %></td>
        <td><%= stationtype.costMineral %></td>
        <td><%= stationtype.costCristal %></td>
        <td><%= stationtype.costFuel %></td>
        <td><%= link_to 'Show', stationtype %></td>
        <td><%= link_to 'Edit', edit_stationtype_path(stationtype) %></td>
        <td><%= link_to 'Destroy', stationtype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stationtype', new_stationtype_path %>
