<%= form_for(@ship_group) do |f| %>
  <% if @ship_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ship_group.errors.count, "error") %> prohibited this ship_group from being saved:</h2>

      <ul>
      <% @ship_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fighting_fleet_id %><br>
    <%= f.collection_select :fighting_fleet_id, FightingFleet.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :ship_id %><br>
    <%= f.collection_select :ship_id, Ship.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :number %><br>
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :group_hitpoints %><br>
    <%= f.text_field :group_hitpoints %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
