<%= form_for(@scanner_mineral) do |f| %>
  <% if @scanner_mineral.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scanner_mineral.errors.count, "error") %> prohibited this scanner_mineral from being saved:</h2>

      <ul>
      <% @scanner_mineral.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :level %><br>
    <%= f.number_field :level %>
  </div>
  <div class="field">
    <%= f.label :production %><br>
    <%= f.text_field :production %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.time_select :time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
