<p id="notice"><%= notice %></p>

<h1>Listing Scanner Minerals</h1>

<table>
  <thead>
    <tr>
      <th>Price</th>
      <th>Level</th>
      <th>Production</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scanner_minerals.each do |scanner_mineral| %>
      <tr>
        <td><%= scanner_mineral.price %></td>
        <td><%= scanner_mineral.level %></td>
        <td><%= scanner_mineral.production %></td>
        <td><%= scanner_mineral.time %></td>
        <td><%= link_to 'Show', scanner_mineral %></td>
        <td><%= link_to 'Edit', edit_scanner_mineral_path(scanner_mineral) %></td>
        <td><%= link_to 'Destroy', scanner_mineral, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scanner mineral', new_scanner_mineral_path %>
