<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @scanner_mineral.price %>
</p>

<p>
  <strong>Level:</strong>
  <%= @scanner_mineral.level %>
</p>

<p>
  <strong>Production:</strong>
  <%= @scanner_mineral.production %>
</p>

<p>
  <strong>Time:</strong>
  <%= @scanner_mineral.time %>
</p>

<%= link_to 'Edit', edit_scanner_mineral_path(@scanner_mineral) %> |
<%= link_to 'Back', scanner_minerals_path %>
