<p id="notice" style='color:green'><%= notice %></p>
<p id="alert" style='color:red'><%= alert %></p>

<h1 class="userlabel">Anlagen</h1>

<table id="table_facilities">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Metall</th>
      <th>Kristall</th>
      <th>Treibstoff</th>
      <th>Dauer</th>
      <th>Anzahl</th>
      <th>In Bau</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% resourcefactor = 500 %>
    <% current_user.active_ship.facility_instances.sort_by{|instance| instance.facility.facility_condition_id}.each do |facility_instance| %>
     <% inactive = nil %>
     <% if(!current_user.ships.find(current_user.activeShip).is_building(facility_instance)) %>
       <tr id="inactive">
       <% inactive = true %>
     <% else %>
       <tr id="active">
       <% inactive = false %>
     <% end %>

     <% if(facility_instance.id) %>
        <% facility = facility_instance.facility %>
        <% hidden = facility_instance.is_hidden %>
        <% if hidden %>
          <td>
            <a>
              <img src= "<%= image_url('facility_icons/secret.png')%>", width="50", height="50", id="icon">
              <span><%= Message.find_by_code(3024).mes %></span>
            </a>
          </td>
          <td><%= '???' %></td>
        <% else %>
          <td>
            <a>
              <img src= "<%= image_url("facility_icons/" + facility.icon)%>", width="50", height="50", id="icon">
              <span><%= Message.find_by_code(facility.facility_condition_id+3000).mes %></span>
            </a>
          </td>
          <td><%= facility.name %></td>
        <% end %>
        <td><%= facility.cost1 * resourcefactor %></td>
        <td><%= facility.cost2 * resourcefactor %></td>
        <td><%= facility.cost3 * resourcefactor %></td>

        <% if(inactive) %>
          <td id = "not_running"><%= Facility.update_time(facility_instance, true).to_s %></td>
        <% else %>
          <td class="running"
              data-id="<%= facility_instance.facility_id %>"
              data-time="<%= Facility.update_time(facility_instance, false).to_s %>"></td>
        <% end %>

        <% availability =  facility_instance.check_conditions && !current_user.active_ship.capped_facilities%>
        <td><%= facility_instance.count %></td>
        <td><%= facility_instance.create_count || 0 %></td>
        <% if !availability %>
          <td><a>Nicht verfügbar<span><%= facility_instance.get_conditions() %></span></a></td>
        <% else %>
          <% Ship.find_by(id: current_user.activeShip).get_energy%>
          <% Ship.find_by(id: current_user.activeShip).get_used_energy%>
          <td>
            <a>
              <%= form_tag build_facility_instance_path(facility_instance), method: 'get' do %>
                <%= number_field_tag(:create_amount, :build_number, placeholder: '0', min: 0, max: facility_instance.get_buy_amount()) %>
                <%= submit_tag 'Herstellen', data: { confirm: 'Are you sure?' }, method: :get %>
              <% end %>
              <span><%= 'Maximale Bauanzahl: ' + facility_instance.get_buy_amount().to_s.html_safe %></span>
            </a>
          </td>
        <% end %>
        <% if(current_user.ships.find(current_user.activeShip).build_lists.find_by(instance_id: facility_instance.id) != nil) %>
          <td><%= button_to 'Abbrechen', cancel_build_facility_instance_path(facility_instance), method: :get %></td>
          <td><%= button_to 'Sofort', instant_build_facility_instance_path(facility_instance), method: :get %></td>
        <% end %>
      <% end %>
    <% end %>
    </tr>
  </tbody>
</table>
<br>
<%= link_to 'New Facility', new_facility_path %>
<%= link_to 'LevelCheat', facility_instances_path %>

<%= javascript_tag "start_timer()" -%>
