<p id="notice"><%= notice %></p>
<p id="alert" style='color:red'><%= alert %></p>

<h1>Stationen</h1><br/>
<% current_user.select_ship(@ship.user_ship.ship_id) %>
<table id="table_ship_stations">
  <thead>
    <tr>
      <th> </th>
      <th>Name</th>
      <th>Metall</th>
      <th>Kristall</th>
      <th>Treibstoff</th>
      <th>Dauer</th>
      <th>Stufe</th>
      <th>Status</th>
      <th> </th>
    </tr>
  </thead>

  <tbody>
    <% @ships_stations.sort_by{|instance| instance.station.station_condition_id}.each do |station_instance| %>
     <% inactive = nil %>
     <% if(!@ship.is_upgrading(station_instance)) %>
       <tr id="inactive">
       <% inactive = true %>
     <% else %>
       <tr id="active">
       <% inactive = false %>
     <% end %>


     <% if(station_instance.id) %>
       <% station = station_instance.station %>
        <td>
         <a>
            <img src= "<%= image_url("stations/" + station_instance.station.icon)%>", width="50", height="50", id="icon">
            <span><%= Message.find_by_code(station.id).mes %></span>
         </a>
         </td>
        <td><%= station.name %></td>
        <td><%= metal = station.get_metal_cost(station_instance.level) %></td>
        <td><%= crystal = station.get_crystal_cost(station_instance.level) %></td>
        <td><%= fuel = station.get_fuel_cost(station_instance.level) %></td>

        <% if(inactive) %>
          <td id = "not_running"><%= Station.update_time(station_instance, true).to_s %></td>
        <% else %>
          <td class="running"
              data-id="<%= station_instance.station_id %>"
              data-time="<%= Station.update_time(station_instance, false) %>"></td>
        <% end %>
        <% availability = @ship.can_build(station_instance) %>
        <td><%= station_instance.level %></td>

        <% if availability %>
          <td><%= button_to 'Upgrade', upgrade_ships_station_path(station_instance), method: :get %></td>
            <% if station_instance.level>0 %>
              <td><%= button_to 'Downgrade', downgrade_ships_station_path(station_instance), data: { confirm: 'Are you sure?' }, method: :get %></td>
              <% end %>
        <% else %>

            <% if(inactive) %>
              <td><a>Nicht verfügbar<span><%= station_instance.get_conditions() %></span></a></td>
            <% else %>

              <td>
                <a>
                  <%= button_to 'Abbrechen', cancel_upgrade_ships_station_path(station_instance), method: :get %>
                  <span><%= station_instance.get_refund %></span>
                </a>
              </td>
              <td>
                <%= button_to 'Sofort', instant_upgrade_ships_station_path(station_instance), method: :get %>
              </td>
            <% end %>

        <% end %>

      <% end %>
      </tr>
    <% end %>
  </tbody>
     <%= javascript_tag "start_timer()" -%>
</table>
<br>
<%= link_to 'Back', :back %>