<p id="notice"><%= notice %></p>

<h1>Stationen</h1><br/>

<table id="table_ship_stations">
  <thead>
    <tr>
      <th> </th>
      <th>Name</th>
      <th>Metall</th>
      <th>Kristall</th>
      <th>Treibstoff</th>
      <th>Dauer</th>
      <th>Stufe</th>
      <th>Status</th>
      <th> </th>
    </tr>
  </thead>

  <tbody>
    <% @ship.ships_stations.sort_by{|instance| instance.station.station_condition_id}.each do |ships_station| %>
     <% inactive = nil %>
     <% if(ships_station.start_time.nil?) %>
       <tr id="inactive">
       <% inactive = true %>
     <% else %>
       <tr id="active">
       <% inactive = false %>
     <% end %>


     <% if(ships_station.id) %>
       <% station = ships_station.station %>
        <td>
         <a>
            <img src= "<%= image_url(ships_station.station.icon)%>", width="50", height="50", id="icon">
            <span><%= Message.find_by_code(ships_station.station.id).mes %></span>
         </a>
         </td>
        <td><%= ships_station.station.name %></td>
        <td><%= metal = station.get_metal_cost(ships_station.level) %></td>
        <td><%= crystal = station.get_crystal_cost(ships_station.level) %></td>
        <td><%= fuel = station.get_fuel_cost(ships_station.level) %></td>

        <% if(inactive) %>
          <td id = "not_running"><%= Station.update_time(ships_station, true).to_s %></td>
        <% else %>
          <td class="running"
              data-id="<%= ships_station.station_id %>"
              data-time="<%= ships_station.update_time(false) %>"></td>
        <% end %>
        <% availability = current_user.check_condition(station.condition) && !current_user.active_ship.is_upgrading &&
          current_user.has_enough_resources(metal, crystal, fuel) %>
        <td><%= ships_station.level %></td>

        <% if availability %>
          <td><%= button_to 'Upgrade', upgrade_ships_station_path(ships_station), method: :get %></td>
        <% else %>
          <% if(inactive) %>
            <td><a>Nicht verfügbar<span><%= ships_station.get_conditions() %></span></a></td>
          <% else %>
            <td><a><%= button_to 'Abbrechen', cancel_upgrade_ships_station_path(ships_station), method: :get %>
                       <span><%= ships_station.get_refund %></span></a>
            <td><%= button_to 'Sofort', instant_upgrade_ships_station_path(ships_station), method: :get %></td>
          <% end %>
        <% end %>
       <% end %>
      <% end %>
      </tr>
  </tbody>
     <%= javascript_tag "start_timer()" -%>
</table>
