<p id="notice"><%= notice %></p>

<h1>Stationen</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Beschreibung</th>
      <th>Level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% Station.all.each do |ships_station| %>
      <tr>
        <td><%= ships_station.name %></td>
        <td><%= ships_station.description %></td>
        <td><%= ships_station.initial_level %></td>
        <td><%= link_to 'Upgrade', ships_station, data: { confirm: 'Link in progress!' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
