<p id="notice"><%= notice %></p>

<h1>Stationen</h1><br/>

<table id="table_ship_stations">
  <thead>
    <tr>
      <th> </th>
      <th>Name</th>
      <th>Level</th>
      <th> </th>
    </tr>
  </thead>

  <tbody>
    <% Ship.find_by(id: current_user.activeShip).ships_stations.sort_by{|instance| instance.station.station_condition_id}.each do |ships_station| %>
     <% inactive = nil %>
     <% if(ships_station.start_time.nil?) %>
       <tr id="inactive">
       <% inactive = true %>
     <% else %>
       <tr id="active">
       <% inactive = false %>
     <% end %>

     <% if(ships_station.id) %>
       <% station = ships_station.station %>
      <tr>
        <td>
         <a>
            <img src= "<%= image_url(ships_station.station.icon)%>", width="50", height="50", id="icon">
            <span><%= Message.find_by_code(ships_station.station.id).mes %></span>
         </a>
         </td>
        <td><%= ships_station.station.name %></td>
        <td><%= ships_station.station.initial_level %></td>
        <td><%= metal = station.get_metal_cost(ships_station.level) %></td>
        <td><%= crystal = station.get_crystal_cost(ships_station.level) %></td>
        <td><%= fuel = station.get_fuel_cost(ships_station.level) %></td>

        <% if(inactive) %>
          <td id = "not_running"><%= Station.update_time(ships_station, true).to_s %></td>
        <% else %>
          <td id = "running"><%= Station.update_time(ships_station, false).to_s %></td>
          <%= javascript_tag "start_timer()" -%>
        <% end %>
        <% availability = current_user.check_condition(station.condition) &&
          current_user.has_enough_resources(metal, crystal, fuel) %>
        <td><%= ships_station.level %>

        <% if availability %>
          <td><%= button_to 'Upgrade', research_ships_stations_path(ships_station), method: :get %></td>
        <% else %>
          <% if(inactive) %>
            <td><a>Nicht verfügbar<span><%= ships_station.get_conditions() %></span></a></td>
          <% else %>
            <td><a><%= button_to 'Abbrechen', cancel_research_ships_station_path(ships_station), method: :get %>
                       <span><%= ships_station.get_refund %></span></a>
            <td><%= button_to 'Sofort', instant_research_ships_station_path(ships_station), method: :get %></td>
          <% end %>
        <% end %>
       <% end %>
      <% end %>
      </tr>
  </tbody>
</table>
