<p id="notice"><%= notice %></p>

<h1>Stationen</h1><br/>

<table id="table_ship_stations">
  <thead>
    <tr>
      <th> </th>
      <th>Name</th>
      <th>Level</th>
      <th> </th>
    </tr>
  </thead>

  <tbody>
    <% @ships_stations.each do |ships_station| %>
      <tr>
        <td>
         <a>
            <img src= "<%= image_url(ships_station.station.icon)%>", width="50", height="50", id="icon">
            <span><%= Message.find_by_code(ships_station.station.id).mes %></span>
         </a>
         </td>
        <td><%= ships_station.station.name %></td>
        <td><%= ships_station.station.initial_level %></td>
        <% if availability %>
          <td><%= button_to 'Forschen', research_science_instance_path(science_instance), method: :get %></td>
        <% else %>
          <% if(inactive) %>
            <td><a>Nicht verfügbar<span><%= science_instance.get_conditions() %></span></a></td>
          <% else %>
            <td><%= button_to 'Abbrechen', cancle_research_science_instance_path(science_instance), method: :get %>
            <td><%= button_to 'Sofort', instant_research_science_instance_path(science_instance), method: :get %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Back', ships_path %>
