<p id="notice"><%= notice %></p>

<h1 id="table" >Stationen</h1><br/>

<table id="table">
  <thead>
    <tr>
      <th> </th>
      <th>Name</th>
      <th>Level</th>
      <th> </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ships_stations.each do |ships_station| %>
      <tr>
        <td id="icon" class="tooltip" data-tooltip=" <%= Message.find_by_code(ships_station.station.id).mes %> ">
          <img src="<%= image_url(ships_station.station.icon) %>", height="50", width="50"></td>
        <td><%= ships_station.station.name %></td>
        <td><%= ships_station.station.initial_level %></td>
        <td><%= link_to 'Upgrade', ships_station, data: { confirm: 'Link in progress!' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
