<p id="notice"><%= notice %></p>

<h1>Stationen</h1>

<table style="border-collapse: collapse;", border="2px solid", align="center">
  <thead>
    <tr>
      <th height="25", width= 15%> </th>
      <th height="25", width= 25%>Name</th>
      <th height="25", width= 45%>Beschreibung</th>
      <th height="25", width= 10%>Level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% Station.all.each do |ships_station| %>
      <tr>
        <td height="25"><img src="<%= image_url(ships_station.icons) %>", height="50", width="50"></td>
        <td height="25"><%= ships_station.name %></td>
        <td height="25"><%= ships_station.description %></td>
        <td height="25"><%= ships_station.initial_level %></td>
        <td height="25"><%= link_to 'Upgrade', ships_station, data: { confirm: 'Link in progress!' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
