<p id="notice"><%= notice %></p>

<<<<<<< HEAD
<h1 class="userlabel">Stationen</h1><br/><br/>
<h2> Baupl채tze <%= @ship.sum_level%> / <%=@ship.max_station_level %> belegt</h2>

<br/>
=======
<h1 class="userlabel">Stationen</h1><br/>

>>>>>>> 0f4f2975450e7259eba9f5aa554d5cc8ee70996b
<% current_user.select_ship(@ship.user_ship.ship_id) %>
<table id="table_ship_stations">
  <thead>
    <tr>
      <th> </th>
      <th>Name</th>
      <th>Metall</th>
      <th>Kristall</th>
      <th>Treibstoff</th>
      <th>Dauer</th>
      <th>Stufe</th>
      <th>Status</th>
      <th> </th>
      <th>Energieverbrauch</th>
    </tr>
  </thead>

  <tbody>
    <% @ship.ships_stations.sort_by{|instance| instance.station.station_condition_id}.each do |ships_station| %>
     <% inactive = nil %>
     <% if(ships_station.start_time.nil?) %>
       <tr id="inactive">
       <% inactive = true %>
     <% else %>
       <tr id="active">
       <% inactive = false %>
     <% end %>


     <% if(ships_station.id) %>
       <% station = ships_station.station %>
        <td>
         <a>
            <img src= "<%= image_url("stations/" + ships_station.station.icon)%>", width="50", height="50", id="icon">
            <span><%= Message.find_by_code(ships_station.station.id).mes %></span>
         </a>
         </td>
        <td><%= ships_station.station.name %></td>
        <td><%= metal = station.get_metal_cost(ships_station.level) %></td>
        <td><%= crystal = station.get_crystal_cost(ships_station.level) %></td>
        <td><%= fuel = station.get_fuel_cost(ships_station.level) %></td>

        <% if(inactive) %>
          <td id = "not_running"><%= Station.update_time(ships_station, true).to_s %></td>
        <% else %>
          <td class="running"
              data-id="<%= ships_station.station_id %>"
              data-time="<%= ships_station.update_time(false) %>"></td>
        <% end %>
        <% availability = current_user.check_condition(station.condition) && !current_user.active_ship.is_upgrading &&
          current_user.has_enough_resources(metal, crystal, fuel) %>
<<<<<<< HEAD
        <td><%= ships_station.level %></td>        
        <% if @ship.sum_level < @ship.max_station_level %>
=======
        <td><%= ships_station.level %></td>
        <% if ships_station.sum_level(@ship) < ships_station.max_station_level(@ship) %>
>>>>>>> 0f4f2975450e7259eba9f5aa554d5cc8ee70996b
          <% if availability %>
              <% Ship.find_by(id: current_user.activeShip).get_energy%>
              <% Ship.find_by(id: current_user.activeShip).get_used_energy%>
            <td><%= button_to 'Upgrade', upgrade_ships_station_path(ships_station), method: :get %></td>
          <% else %>
            <% if(inactive) %>
              <td><a>Nicht verf체gbar<span><%= ships_station.get_conditions() %></span></a></td>
            <% else %>
              <td><a><%= button_to 'Abbrechen', cancel_upgrade_ships_station_path(ships_station), method: :get %>
                  <span><%= ships_station.get_refund %></span></a>
              <td><%= button_to 'Sofort', instant_upgrade_ships_station_path(ships_station), method: :get %></td>
            <% end %>
          <% end %>
          <% else %>
            <% if ships_station.station_id == 2007 %>
              <% if availability %>
                <td><%= button_to 'Upgrade', upgrade_ships_station_path(ships_station), method: :get %></td>
              <% else %>
                <% if(inactive) %>
                  <td><a>Nicht verf체gbar<span><%= ships_station.get_conditions() %></span></a></td>
                <% else %>
                  <td><a><%= button_to 'Abbrechen', cancel_upgrade_ships_station_path(ships_station), method: :get %>
                  <span><%= ships_station.get_refund %></span></a>
                  <td><%= button_to 'Sofort', instant_upgrade_ships_station_path(ships_station), method: :get %></td>
                <% end %>
              <% end %>
            <% else %>
              <td><a>Nicht verf체gbar<span> Bitte Erweiterungsplattform ausbauen!</span></a></td>
            <%end%>
        <% end %>
        <% end %>
        <% if ships_station.level>0 && availability%>
<<<<<<< HEAD
          <td><%= button_to 'Downgrade', downgrade_ships_station_path(ships_station), data: { confirm: 'Are you sure?' }, method: :get %></td>
=======
          <td><%= button_to 'Downgrade', downgrade_ships_station_path(ships_station), method: :get %></td>
        <% else %>
          <td> </td>
>>>>>>> 0f4f2975450e7259eba9f5aa554d5cc8ee70996b
        <%end%>
        <% if (ships_station.station_id == 2001)%>
          <td>
            <%= form_for ships_station do |f| %>
              <%= f.range_field :energy_usage, id: 'metalSlider', class: 'slider_format' %>
              <%= f.submit 'Aktualisieren' %>
            <% end %>
          </td>
          <td>
            <p class="note"> <span> <%= ships_station.energy_usage %> </span></p>
          </td>
        <% end %>
        <% if (ships_station.station_id == 2002)%>
          <td>
            <%= form_for ships_station do |f| %>
              <%= f.range_field :energy_usage, id: 'crystalSlider', class: 'slider_format' %>
              <%= f.submit 'Aktualisieren' %>
            <% end %>
          </td>
          <td>
            <p class="note"> <span> <%= ships_station.energy_usage %> </span></p>
          </td>
        <% end %>
        <% if (ships_station.station_id == 2003)%>
          <td>
            <%= form_for ships_station do |f| %>
              <%= f.range_field :energy_usage, id: 'fuelSlider', class: 'slider_format' %>
              <%= f.submit 'Aktualisieren' %>
            <% end %>
          </td>
          <td>
            <p class="note"> <span> <%= ships_station.energy_usage %> </span></p>
          </td>
        <% end %>
        <% if (ships_station.station_id == 2015)%>
          <td>
            <%= form_for ships_station do |f| %>
              <%= f.range_field :energy_usage, id: 'generatorSlider', class: 'slider_format' %>
              <%= f.submit 'Aktualisieren' %>
            <% end %>
          </td>
          <td>
            <p class="note"> <span> <%= ships_station.energy_usage %> </span> </p>
          </td>
        <% end %>
      <% end %>
      </tr>
  </tbody>
     <%= javascript_tag "start_timer()" -%>
</table>
<<<<<<< HEAD
<p class="userbutton"><%= link_to 'Back', ships_path %></p>
=======
<%= link_to 'Back', ships_path %>
>>>>>>> 0f4f2975450e7259eba9f5aa554d5cc8ee70996b
