<p id="notice"><%= notice %></p>

<h1 class="userlabel">Ranking</h1>

<table id="rank-table">
	<tr>
		<th>Position</th>
		<th>Namen</th>
		<th>Score</th>
	</tr>
	<% Rank.rank_list(0,10).each do |rank, pos| %>
		<tr>
			<td class="rank-table-td">
				<p><%= pos %>.</p>
			</td>
			<td class="rank-table-td">
				<table class="rank-col"><tr>
					<td>
						<% if UserIcon.find_by_user_id(rank.user.id).blank? %>
							<img class="rank-icon" width="25px" height="25px" src="<%= image_url('ui/default.png') %>">
						<% else %>
							<img class="rank-icon" width="25px" height="25px" src="<%= image_url(UserIcon.find_by_user_id(rank.user.id).image.url) %>">
						<% end %>
					</td>
					<td>
						<% if rank.user.username == current_user.username %>
							<%= link_to current_user.username, profile_index_path %>
						<% else %>
							<%= link_to rank.user.username, profile_path(rank.user.username) %>
						<% end %>
					</td>
				</tr></table>
			</td>
			<td class="rank-table-td">
				<p><%= rank.score %></p>
			</td>
		</tr>
	<% end %>
</table>
