<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @rank.email %>
</p>

<p>
  <strong>Score:</strong>
  <%= @rank.score %>
</p>

<%= link_to 'Edit', edit_rank_path(@rank) %> |
<%= link_to 'Back', ranks_path %>
