<p id="notice"><%= notice %></p>

<h1 class="userlabel">Listing User Ships</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Ship</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_ships.each do |user_ship| %>
      <tr>
        <td><%= user_ship.user_id %></td>
        <td><%= user_ship.ship_id %></td>
        <td><%= link_to 'Show', user_ship %></td>
        <td><%= link_to 'Edit', edit_user_ship_path(user_ship) %></td>
        <td><%= link_to 'Destroy', user_ship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User ship', new_user_ship_path %>
