<%= form_for(@stations_instance) do |f| %>
  <% if @stations_instance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stations_instance.errors.count, "error") %> prohibited this stations_instance from being saved:</h2>

      <ul>
      <% @stations_instance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :shipID %><br>
    <%= f.number_field :shipID %>
  </div>
  <div class="field">
    <%= f.label :statID %><br>
    <%= f.number_field :statID %>
  </div>
  <div class="field">
    <%= f.label :level %><br>
    <%= f.number_field :level %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
