<p id="notice"><%= notice %></p>

<h1>Listing Stations Instances</h1>

<table>
  <thead>
    <tr>
      <th>Shipid</th>
      <th>Statid</th>
      <th>Level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stations_instances.each do |stations_instance| %>
      <tr>
        <td><%= stations_instance.shipID %></td>
        <td><%= stations_instance.statID %></td>
        <td><%= stations_instance.level %></td>
        <td><%= link_to 'Show', stations_instance %></td>
        <td><%= link_to 'Edit', edit_stations_instance_path(stations_instance) %></td>
        <td><%= link_to 'Destroy', stations_instance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stations instance', new_stations_instance_path %>
