<p id="notice"><%= notice %></p>

<h1  class="userlabel">Listing Expedition Instances</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Expedition</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expedition_instances.each do |expedition_instance| %>
      <tr>
        <td><%= expedition_instance.user_id %></td>
        <td><%= expedition_instance.expedition_id %></td>
        <td><%= link_to 'Show', expedition_instance %></td>
        <td><%= link_to 'Edit', edit_expedition_instance_path(expedition_instance) %></td>
        <td><%= link_to 'Destroy', expedition_instance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expedition instance', new_expedition_instance_path %>
