<p id="notice"><%= notice %></p>

<h1>Schiffe</h1><br/>

<table id="stationsite">
  <thead>
    <tr id="ship_t1">
      <th>Name</th>
      <th>Auswahl</th>
      <th>Name ändern</th>
      <th>Station</th>
    </tr>
  </thead>
  
  <tbody>
   <% UserShip.where(:user_id => current_user.id).each do |usership| %>
      <tr class="ship_t1">
        <td class="ship_t2"><%= usership.ship.name %></td>
        <td class="ship_t2"><%= link_to 'Auswählen', usership.ship %></td>
        <td class="ship_t2"><%= link_to 'Stationen', ship_ships_stations_path(usership) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<% if current_user.ship_count < 9%>
  <%if current_user.has_enough_resources(200000, 100000, 0)%>
    <div id="coord_button"> 
      <p class="userbutton"><%= link_to 'New Ship', new_ship_path %>   </p>      
    </div>
  <%else%>
    <p class="ship_t1"> Nicht genug Rohstoffe für ein neues Schiff! </p>
  <%end%>
<%else %>
  <p class="ship_t1"> Du darfst nicht mehr als neun Schiffe besitzen! </p>
<%end%>


