<p id="notice"><%= notice %></p>

<h1>Schiffe</h1><br/>

<table id="stationsite">
  <thead>
    <tr id="table">
      <th>Name</th>
      <th> </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ships.each do |ships| %>
      <tr>
        <td><%= ships.name %></td>
        <td><%= link_to 'Stationen', ship_ships_stations_path(ships) %></td>
        <td><%= button_to "CheatRes", cheat_ship_path(ships), method: :get %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

    <tr id="ship_t1">
      <th>Name</th>
      <th>Auswahl</th>
      <th>Station</th>
    </tr>


  <tbody>
   <% UserShip.where(:user_id => current_user.id).each do |usership| %>
      <tr id="ship_t1">
        <td id="ship_t2"><%= usership.ship.name %></td>
        <td id="ship_t2"><%= link_to 'Auswählen', usership.ship %></td>
        <td id="ship_t2"><%= link_to 'Stationen', ship_ships_stations_path(usership) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<% if current_user.ship_count < 9%>
  <%if Ship.find_by(id: current_user.activeShip).metal > 200000 &&  Ship.find_by(id: current_user.activeShip).cristal > 100000%>
    <%= link_to 'New Ship', new_ship_path %>
  <%else%>
    <p> Nicht genug Rohstoffe für ein neues Schiff! </p>
  <%end%>
<%else %>
  <p> Du darfst nicht mehr als neun Schiffe besitzen! </p>
<%end%>