<p id="notice"><%= notice %></p>

<h1>Schiffe</h1><br/>

<table id="stationsite">

    <tr id="ship_t1">
      <th>Name</th>
      <th>Auswahl</th>
      <th>Station</th>
    </tr>


  <tbody>
   <% UserShip.where(:user_id => current_user.id).each do |usership| %>
      <tr id="ship_t1">
        <td id="ship_t2"><%= usership.ship.name %></td>
        <td id="ship_t2"><%= link_to 'Auswählen', usership.ship %></td>
        <td id="ship_t2"><%= link_to 'Stationen', ship_ships_stations_path(usership) %></td>
        <% usership.ship.update_resources %>

      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Ship', new_ship_path %>
