<p id="notice"><%= notice %></p>

<h1>Schiffe</h1><br/>

<table id="stationsite">
  <thead>
    <tr id="table">
      <th>Name</th>
      <th> </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ships.each do |ships| %>
      <tr>
        <td><%= ships.name %></td>
        <td><%= link_to 'Stationen', ship_stations_url(id: ships.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<h1>Listing Ships</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% UserShip.where(:user_id => current_user.id).each do |usership| %>
      <tr>
        <td><%= usership.ship.name %></td>
        <% usership.ship.update_resources %>
        <td><%= link_to usership.ship.name, usership.ship %></td>
        <td><%= link_to 'Edit', edit_ship_path(usership.ship) %></td>
  </td>
      </tr>
    <% end %> 
  </tbody>
</table>

<br>

<%= link_to 'New Ship', new_ship_path %>
