<p id="notice"><%= notice %></p>

<h1>Schiffe</h1><br/>

<table id="stationsite">
  <thead>
    <tr id="ship_t1">
      <th>Name</th>
      <th>Auswahl</th>
      <th>Station</th>
    </tr>
  </thead>
  
  <tbody>
   <% UserShip.where(:user_id => current_user.id).each do |usership| %>
      <tr id="ship_t1">
        <td id="ship_t2"><%= usership.ship.name %></td>
        <td id="ship_t2"><%= link_to 'Auswählen', usership.ship %></td>
        <td id="ship_t2"><%= link_to 'Stationen', ship_ships_stations_path(usership) %></td>
        <td><%= button_to "CheatRes", cheat_ship_path(usership), method: :get %></td>
        <% usership.ship.update_resources %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>




<% if current_user.ship_count < 9%>
  <%if current_user.has_enough_resources(200000, 100000, 0)%>
    <%= link_to 'New Ship', new_ship_path %>
  <%else%>
    <p> Nicht genug Rohstoffe für ein neues Schiff! </p>
  <%end%>
<%else %>
  <p> Du darfst nicht mehr als neun Schiffe besitzen! </p>
<%end%>