<p id="notice"><%= notice %></p>

<h1 class="userlabel">Schiffe</h1><br/>

<table id="stationsite">

    <tr class="test123">
      <th>Schiffsname</th>
      <th>Auswahl</th>
      <th>Name ändern</th>
      <th>Station</th>
    </tr>

  

   <% current_user.user_ships.each do |usership| %>
      <tr class="test123">
        <th><%= usership.ship.name %></th>
        <td><p class="userbutton"><%= link_to 'Auswählen', ship_path(usership.ship) %></p></td>
        <td><p class="userbutton"><%= link_to 'Name ändern', edit_ship_path(usership.ship) %></p></td>
        <td><p class="userbutton"><%= link_to 'Stationen', ship_ships_stations_path(usership) %></p></td>
        <% if not(current_user.active_ship.id == usership.ship.id) %>
          <td><p class="userbutton"><%= link_to 'Flotte Verschicken', new_fighting_fleet_path(:user_id => current_user.id) %></p></td>
        <% end %>
        <td><%= button_to "CheatRes", cheat_ship_path(usership), method: :get %></td>
        <% usership.ship.update_resources %>
      </tr>
    <% end %>

</table>
<br>

<% if current_user.ship_count < 9%>
  <% if current_user.next_ship_allowed  == true %>
    <%if current_user.has_enough_resources(200000, 100000, 0)%>
      <div id="coord_button"> 
        <p class="userbutton"><%= link_to 'New Ship', new_ship_path %>   </p>      
      </div>
    <%else%>
      <p class="ship_t1"> Nicht genug Rohstoffe für ein neues Schiff! </p>
    <%end%>
  <% else %>
    <p class="ship_t1"> Forsche Pioniersausbildung für ein zusätzliches Schiff </p>
  <% end %>
<%else %>
  <p class="ship_t1"> Du darfst nicht mehr als neun Schiffe besitzen! </p>
<%end%>

