<%= form_for(@expedition) do |f| %>
   <% if @expedition.errors.any? %>
      <div id="error_explanation">
         <h2><%= pluralize(@expedition.errors.count, "error") %> prohibited this expedition from being saved:</h2>

         <ul>
            <% @expedition.errors.full_messages.each do |message| %>
               <li><%= message %></li>
            <% end %>
         </ul>
      </div>
   <% end %>
  <div class="field">
   Expeditionszeit in Stunden:<br>
   <%= number_field_tag(:exp_time, 1, within: 1...25) %>
   <br><br>
   <table>
      <tr>
         <th width="10%"></th>
         <th width="20%">Einheit</th>
         <th width="10%">stationierte Menge</th>
         <th width="25%">zu schickende Anzahl</th>
         <th width="20%">Treibstoffkosten pro Stunde</th> 
      </tr>
     
      <% Unit.all.each do |unit| %>
      <% instance = current_user.active_ship.get_unit_instance(unit) %>
      <tr>
           <td><img src= "<%= image_url(unit.icon)%>", width="35", height="35", id="icon"></td>
           <td align=center><p><%= unit.name %></p></td>       
           <td><p><%= instance.amount %></p></td>
           <td><%= number_field_tag(unit.id, 0, min:0, max: instance.amount) %></td>
           <td align=center><p><%= ((unit.shell + unit.cargo)/@userFuelFactor).round %> pro Einheit</p></td>
      </tr>

      <% end %>

   </table>
   <br>
  </div>
  <div class="actions">
      <%= f.submit %>
   </div>
<% end %>