<p id="notice"><%= notice %></p>

<table id='table_expedition'>
   <colgroup span=2></colgroup>
   <tr>
   	<th></th>
      <th>Einheit</th>
      <th>Anzahl</th>
   </tr>
   <% Unit.all.each do |unit| %>
       <% if @expedition.fighting_fleet.ship_groups.find_by_unit_id(unit.id).number != 0 %>
         <tr>
         <td align=right><img src= "<%= image_url(unit.icon)%>", width="50", height="50", id="icon"></td>
           <td align=left ><%= unit.name %></td>       
           <td><%= @expedition.fighting_fleet.ship_groups.find_by_unit_id(unit.id).number %></td>
         </tr>
	<% end %>
      <% end %>
</table>
<%= link_to 'Back', expeditions_path %>
