
<% if user_signed_in? %>
	<% if current_user.is_user %>
<%= form_for(@fighting_fleet) do |f| %>
  <% if @fighting_fleet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fighting_fleet.errors.count, "error") %> prohibited this fighting_fleet from being saved:</h2>

      <ul>
      <% @fighting_fleet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :fight do |ff| %>
        <%= ff.hidden_field :defender_id, :value => @defend_user  %>
        <%= ff.hidden_field :ship_attack_id, :value => current_user.active_ship.id  %>

    <div class="field">
      <a><%= ff.label :ship_defend_id %><br></a>
      <%= ff.collection_select  :ship_defend_id, User.find(@defend_user).ships, :id, :name %>
    </div>
<% end %>
  <div class="field">
    <table>
      <tr>
        <th><a>Bild</a></th>
        <th><a>Einheit</a></th>
        <th><a>Besitzt</a></th>
        <th><a>Verschicken</a></th>
      </tr>
      <%= f.fields_for :ship_groups do |fs| %>
        <%if !(fs.object.unit.message == nil) %><tr>
          <td><a><img src= "<%= image_url(fs.object.unit.icon)%>", width="50", height="50", id="icon"><span><%= fs.object.unit.message.mes %></span></a> </td>
          <td><a><%= fs.object.unit.name%><span><%= fs.object.unit.message.mes %></span></a> </td>
          <td><a><%= current_user.active_ship.get_unit_instance(fs.object.unit).amount %></a></td>
          <td><a><%=fs.number_field :number, min:0, max: current_user.active_ship.get_unit_instance(fs.object.unit).amount %></a></td>
        </tr>
        
        <%= fs.hidden_field :unit_id %>
      <% end %>
      <% end %>
    </table>
    </div>
  <div class="actions">
    
    <%= f.submit %>
  </div>
<% end %>

  <% end %>
  <% end %>
