<p id="notice"><%= notice %></p>

<h1>Listing Fighting Fleets</h1>
  <% @fighting_fleets.each do |fighting_fleet| %>
      <table>
        <tr>
          <th>Angreifer: </th>
          <th><%=fighting_fleet.fight.attacker.username%></th>
          <th>Verteidiger: </th>
          <th><%=fighting_fleet.fight.defender.username%></th>
        </tr>
      </table>
      <table>
        <thead>
          <tr>
            <th>Schiffe</th>
            <th >Anzahl</th>
          </tr>
        </thead>
        <tbody>
          <% fighting_fleet.ship_groups.each do |s|  %>
            <tr>
              <td><%= s.unit.name%> </td>
              <td><%= s.number%> </td>
            </tr>
          <% end %>
          <tr>
            <td colspan="2"><%= link_to 'Destroy', fighting_fleet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <tr>
            <td colspan="2"> <%= button_to 'Neue Flotte', new_fighting_fleet_path, method: :get %></td> 
          </tr>
        </tbody>
      </table>
  <% end %>
