<p id="notice"><%= notice %></p>

<h1>Flottenbewegungen</h1>

<% if not(@fighting_fleets.empty?) %>
  <h2>Aktive Flottenbewegungen</h2>

  <table id="table_fighting_fleet">
    <thead>
      <tr>
        <th></th>
        <th>Aktion</th>
        <th>Mission</th>
        <th>Ziel</th>
        <th>Schiff</th>
        <th>Dauer</th>
      </tr>
    </thead>
    <tbody>
      <% @fighting_fleets.each do |fighting_fleet| %>
        <tr>
          <% if(fighting_fleet.user_id == current_user.id) %>
            <td>
              <a>
                <img src= "<%= image_url("facility_icons/shield_big.png")%>", width="50", height="50", id="icon">
                <span><%= fighting_fleet.info %></span>
              </a>
            </td>
            <td><%= fighting_fleet.get_state %></td>
            <td><%= fighting_fleet.get_mission %></td>
            <td><%= fighting_fleet.fight.defender.username %></td>
            <td><%= fighting_fleet.get_target_ship.name %></td>

            <td class="running"
              data-id="<%= fighting_fleet.id %>"
              data-time="<%= fighting_fleet.update_time(false) %>">
            </td>
            <td colspan="2"><%= link_to 'Destroy', fighting_fleet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
    <%= javascript_tag "start_timer()" -%>
  </table>
<% end %>