<p id="notice"><%= notice %></p>

<h1>Listing Fighting Fleets</h1>
    <% @fighting_fleets.each do |fighting_fleet| %>
<div class="field" >
  <table>
    <tr>
      <th>Angreifer: </th>
      <th><%=fighting_fleet.fight.attacker.username%></th>
      <th>Verteidiger: </th>
      <th><%=fighting_fleet.fight.defender.username%></th>
    </tr>
  </table>
<table>
  <thead>
    <tr>
      <th>Schiffe</th>
      <th >Anzahl</th>
    </tr>
  </thead>

  <tbody>
        <% fighting_fleet.ship_groups.each do |s|  %>
      <tr>
            <td><%= s.unit.name%> </td>
            <td><%= s.number%> </td>
      </tr>
        <% end %>
        <td><%= link_to 'Edit', edit_fighting_fleet_path(fighting_fleet) %></td>
        <td><%= link_to 'Destroy', fighting_fleet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tbody>
</table>

<br>
</div>
<%= link_to 'New Fighting fleet', new_fighting_fleet_path %>
