<p id="notice"><%= notice %></p>

<h1>Einheiten</h1>

<table id="table_units">
  <thead>
    <tr>
      <th>Bild</th>
      <th>Name</th>
      <th>Metall</th>
      <th>Kristall</th>
      <th>Treibstoff</th>
      <th>Vorhanden</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @units.each do |unit| %>
      <tr>
        <td></td>
        <td><%= unit.name %></td>
        <td><%= unit.metal_price %></td>
        <td><%= unit.crystal_price %></td>
        <td><%= unit.fuel_price %></td>
        <% current_ship = Ship.find_by(:id => current_user.activeShip) %>
        <td><%= current_ship.get_unit_instance(unit).amount %></td>
        <td>
          <%= form_tag build_unit_path(unit), method: 'get' do %>
          <%= hidden_field_tag :unit_id, unit.id%>
          <%= number_field_tag(:amount, :id, placeholder: '0', min: 0,) %>
            <td> <%= submit_tag 'Herstellen' %> </td>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>