<p id="notice"><%= notice %></p>

<h1>Einheiten</h1>

<table id="table_units">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Metall</th>
      <th>Kristall</th>
      <th>Treibstoff</th>
      <th>Dauer</th>
      <th>Vorhanden</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% Unit.all.each do |unit| %>
      <% current_ship = Ship.find_by(:id => current_user.activeShip) %>
      <% instance = current_ship.get_unit_instance(unit)%></td>

      <% if(instance.start_time.nil?) %>
        <tr id="inactive">
      <% else %>
        <tr id="active">
      <% end %>
        <td>
          <a>
            <img src= "<%= image_url(unit.icon)%>", width="50", height="50", id="icon">
          </a>
        </td>
          <td><%= unit.name %></td>
          <td><%= unit.get_metal_cost %></td>
          <td><%= unit.get_crystal_cost %></td>
          <td><%= unit.get_fuel_cost %></td>
          <td><%= instance.update_time(false) %></td>
          <td><%= instance.amount %></td>
          
          <td>
            <%= form_tag build_unit_path(unit), method: 'get' do %>
              <%= hidden_field_tag :unit_id, unit.id%>
              <%= hidden_field_tag :ship_id, current_user.active_ship.id %>
              <%= number_field_tag(:amount, placeholder: '0', min: 0,) %>
              <%= submit_tag 'Herstellen' %>
            <% end %>
          </td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>