<p id="notice"><%= notice %></p>

<h1>Einheiten</h1>

<table id="table_units">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Metall</th>
      <th>Kristall</th>
      <th>Treibstoff</th>
      <th>Dauer</th>
      <th>Vorhanden</th>
      <th>Maximum</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @units.sort_by{|u| u.condition_id}.each do |unit| %>
      <% current_ship = Ship.find_by(:id => current_user.activeShip) %>
      <% instance = current_ship.get_unit_instance(unit)%></td>
      <% inactive = nil %>
      <% max_units = unit.get_max_units_to_buy(current_user) %>

      <% if(instance.start_time.nil?) %>
        <tr id="inactive">
        <% inactive = true %>
      <% else %>
        <tr id="active">
        <% inactive = false %>
      <% end %>
        <td>
          <a>
            <img src= "<%= image_url(unit.icon)%>", width="50", height="50", id="icon">
          </a>
        </td>
          <td><%= unit.name %></td>
          <td><%= unit.get_metal_cost %></td>
          <td><%= unit.get_crystal_cost %></td>
          <td><%= unit.get_fuel_cost %></td>

          <% if(inactive) %>
            <td id = "not_running"><%= instance.update_time(true).to_s %></td>
          <% else %>
            <td class="running"
              data-id="<%= instance.unit_id %>"
              data-time="<%= instance.update_time(false) %>">
            </td>
          <% end %>
          <td><%= instance.amount %></td>

          <% availability = current_user.can_build_unit(unit, current_user.active_ship) %>

          <% if (availability) %>
            <td><%= max_units %></td>
            <td>
              <%= form_tag build_unit_path(unit), method: 'get' do %>
                <%= hidden_field_tag :unit_id, unit.id %>
                <%= hidden_field_tag :ship_id, current_user.active_ship.id %>
               
                <%= number_field_tag(:amount, nil, placeholder: '0', min: 0, max: max_units) %>
                <%= submit_tag 'Herstellen' %>
              <% end %>
            </td>
          <% else %>

            <% if (inactive) %>
              <td>0<!-- Nicht möglich zu bauen --></td>
              <td><a>Nicht verfügbar<span><%= instance.get_conditions() %></span></a></td>
            <% else %>
              <!-- Restlich zu bauende Truppen -->
              <td>In Auftrag: <%= instance.build_amount %></td>
              <td>
                <a>
                  <%= button_to 'Abbrechen', cancel_build_unit_instance_path(instance), method: :get %>
                  <span><%= instance.get_refund %></span>
                </a>
                <%= button_to 'Sofort', instant_build_unit_instance_path(instance), method: :get %>
              </td>
            <% end %>
          <% end %>
        </td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= javascript_tag "start_timer()" -%>