<p id="notice"><%= notice %></p>
<p id="alert" style='color:red'><%= alert %></p>

<h1 class="userlabel">Einheiten</h1>
<%= button_to 'UnitCheat', unit_instances_path, method: :get %>
<table id="table_units">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Metall</th>
      <th>Kristall</th>
      <th>Treibstoff</th>
      <th>Dauer</th>
      <th>Anzahl</th>
      <th>In Auftrag</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @units.sort_by{|u| u.condition_id}.each do |unit| %>
      <% ship = current_user.active_ship %>
      <% instance = ship.unit_instances.find_by(:unit_id => unit.id)%>

      <% inactive = nil %>

      <% if(!ship.is_building(instance)) %>
        <tr id="inactive">
          <% inactive = true %>
      <% else %>
        <tr id="active">
          <% inactive = false %>
      <% end %>

      <% if(instance.id) %>
        <td>
          <a>
            <img src= "<%= image_url(unit.icon)%>", width="50", height="50", id="icon">
            <span><%= unit.message.mes %></span>
          </a>
        </td>
        <td><%= unit.name %></td>
        <td><%= unit.get_metal_cost %></td>
        <td><%= unit.get_crystal_cost %></td>
        <td><%= unit.get_fuel_cost %></td>

        <% if(inactive) %>
          <td id = "not_running"><%= Unit.update_time(instance, true).to_s %></td>
        <% else %>
          <td class="running"
            data-id="<%= instance.unit_id %>"
            data-time="<%= Unit.update_time(instance, false) %>">
          </td>
        <% end %>
        <% availability = instance.check_conditions && !ship.capped_units %>
        <td><%= instance.amount %></td>
        <td><%= instance.build_amount || 0 %></td>
        <% if !availability %>
          <td><a>Nicht verfügbar<span><%= instance.get_conditions() %></span>
          </a></td>
        <% else %>
          <td>
            <a>
              <%= form_tag build_unit_instance_path(instance), method: 'get' do %>    
                <%= number_field_tag(:create_amount, nil, placeholder: '0', min: 0, max: instance.get_max_buy_amount()) %>
                <%= submit_tag 'Herstellen', data: { confirm: 'Are you sure?' }, method: :get %>
              <% end %>
              <span><%= 'Maximale Bauanzahl: ' + instance.get_max_buy_amount().to_s.html_safe %></span>
            </a>
          </td>
        <% end %>
        <% if(ship.build_lists.find_by(typeSign: 'u', instance_id: instance.id) != nil) %>
          <td><%= button_to 'Abbrechen', cancel_build_unit_instance_path(instance), method: :get %></td>
          <td><%= button_to 'Sofort', instant_build_unit_instance_path(instance), method: :get %></td>
        <% end %>
      <% end %>
    <% end %>
    </tr>
  </tbody>
</table>
<br>
<%= link_to 'New Unit', new_unit_path %>
<%= link_to 'LevelCheat', unit_instances_path %>

<%= javascript_tag "start_timer()" -%>