<%= form_for(@fight) do |f| %>
  <% if @fight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fight.errors.count, "error") %> prohibited this fight from being saved:</h2>

      <ul>
      <% @fight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :report %><br>
    <%= f.text_area :report %>
  </div>
  <div class="field">
    <%= f.label :attacker %><br>
    <%= f.collection_select :attacker_id, User.all, :id, :username %>
  </div>
  <div class="field">
    <%= f.label :defender %><br>
    <%= f.collection_select :defender_id, User.all, :id, :username %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.datetime_select :time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
