<p id="notice"><%= notice %></p>

<h1>Listing Fights</h1>

<table>
  <thead>
    <tr>
      <th>Report</th>
      <th>Time</th>
      <th>Attacker</th>
      <th>Defender</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fights.each do |fight| %>
      <tr>
        <td><%= fight.report %></td>
        <td><%= fight.time %></td>
        <td><%= fight.attacker.username %></td>
        <td><%= fight.defender.username %></td>
        <td><%= link_to 'Show', fight %></td>
        <td><%= link_to 'Edit', edit_fight_path(fight) %></td>
        <td><%= link_to 'Destroy', fight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fight', new_fight_path %>
