<p id="notice"><%= notice %></p>
<%if true %>
 <%=@report  %>
<%else %>
  <h2><%= @report[0] %></h2>
    <% i=1 %>
    <% while i<8 do %>
      <p><%= @report[i] %></p>
      <% i=i+1 %>
    <% end %>
      <% @report[8].each do |r| %>
        <% r.each do |rr| %>
          <p><%= rr %></p>
        <%end %>
      <%end %>
    <h2><%= @report[-4] %></h2>
    <h2><%= @report[-3] %></h2>
    <% i = -2 %>
      <a>
    <% while i < 0 %>
      <table id="rank_table"  style="float:left;">
        <tr>
          <% if i == -2 %>
            <th colspan = '4'><h2><%= @attacker  %>: </h2></th>  
          <% else %>
            <th colspan = '4'><h2><%= @defender %>: </h2></th>  
          <% end %>
        </tr>
        <tr>
          <th>Typ</th>
          <th>Geschickt</th>
          <th>Verlust</th>
          <th>Überlebende</th>
        </tr>
        <%@report[i].each do |r| %>
          <% if r[1] > 0 %>
            <tr>
              <td><%=r[0]%></td>
              <td><%=r[1]%></td>
              <td><%=r[2]%></td>
              <td><%=r[3]%></td>
            </tr>
          <% end %>
        <% end %>
      <% i = i + 1 %>
      </table>
    <% end %>
      </a>
<%end %>
