<p id="notice"><%= notice %></p>




   <% if false %>
   <%@report.each do |a| %> 
   <a><%=a%> </a>
   <%end%> 
   <%else%>
   <h2><%= @report[0] %></h2>
    <% i=1 %>
    <% while i<8 do %>
      <p><%= @report[i] %></p>
      <% i=i+1 %>
    <% end %>
       
      <% @report[9].each do |r| %>
      <% r.each do |rr| %>
      <p><%= rr %></p>
      <%end %>
      <%end %>
    
   <h2><%= @report[-2] %></h2>
   <h2><%= @report[-1] %></h2>
   <%end%>
