<% if user_signed_in? %>
	<% if current_user.is_user %>
		<br>
		<h1 class="userlabel">Ihr Benutzerprofil</h1>
		<p> <% if UserIcon.find_by_user_id(current_user.id) != nil %>
								<img id="user_icon_profile" src="<%= image_url(UserIcon.find_by_user_id(current_user.id).image.url) %>"><br>
			<% else %>
    			<img id="user_icon_profile" src="<%= image_url('ui/default.png') %>"><br>
			<% end %>
		</p>
		<div>
			<p class="userlabel">Benutzername: <%= @user.username%></p>
		</div>
		<div>
			<p class="userlabel">E-Mail-Adresse: <%= @user.email %></p>
		</div>
	
		<% if current_user.is_admin %>
			<div>
				<p class="userlabel">Rechtelevel: <%= @user.right_level %></p>
			</div>
			<div>
				<p class="userlabel">Normaler Benutzer: <%= @user.is_user %></p>
			</div>
			<div>
				<p class="userlabel">Premium Benutzer: <%= @user.is_premium_user %></p>
			</div>
			<div>
				<p class="userlabel">Moderator: <%= @user.is_moderator %></p>
			</div>
			<div>
				<p class="userlabel">Admin: <%= @user.is_admin %></p>
			</div>
			<div>
				<p class="userlabel">Superadmin: <%= @user.is_user %></p>
			</div>
		<% end %>
		<div>
			<p class="userbutton"><%= link_to "Benutzerprofil bearbeiten", edit_user_registration_path %></p>
		</div>
		<div>
			<p class="userbutton"><%= link_to "Zurück", ranks_path %></p>
		</div>
	<% end %>
<% end %>