<p id="notice"><%= notice %></p>

<h1>Listing Trades</h1>

<table class='tradetable'>
  <thead>
    <tr>
      <th>Zu\Von</th>
      <th>Metall</th>
      <th>Kristall</th>
      <th>Treibstoff</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <%= form_tag("/trades", method: "get") do %>
        <td>
          <%= submit_tag "Calc", class: 'numfield' %>
        </td>
        <td>
          <%= number_field_tag(:sell_metall, :metall, class: 'numfield', placeholder: '0', min: 0, max: 696) %> <!-- max value has to be dependant on the actual ressource value !-->
        </td>
        <td>
          <%= number_field_tag(:sell_kristall, :kristall, class: 'numfield', placeholder: '0', min: 0, max: 696) %> <!-- max value has to be dependant on the actual ressource value !-->
        </td>
        <td>
          <%= number_field_tag(:sell_treibstoff, :treibstoff, class: 'numfield', placeholder: '0', min: 0, max: 696) %> <!-- max value has to be dependant on the actual ressource value !-->
        </td>
      <% end %>
    </tr>
    <tr>
      <th>Base</th>
      <% @trades.each do |trade| %>
        <td><%= trade.ressource %></td>
      <% end %>
    </tr>
    <tr>
      <th>Value</th>
      <% @trades.each do |trade| %>
        <td><%= number_with_precision(trade.value , precision: 2) %></td>
      <% end %>
    </tr>
    <% @trades.each do |trade| %>
      <tr>
        <% if(trade.ressource==1) %>
          <th>
            Metall
          </th>
          <% @trades.each do |innertrade| %>
            <% if(innertrade.ressource==1) %>
              <td>
                <%= form_tag("/trades", method: "get") do %>
                  <div class='numfieldvalue'>
                    <%= label_tag number_with_precision(params[:sell_metall].to_i, precision: 0) || '0', nil, class: 'innernumfieldvalue' %>
                  </div>
                <% end %>
              </td>
            <% end %>
            <% if(innertrade.ressource==2) %>
              <td>
                <%= form_tag buy_trade_path(innertrade), method: "get" do %>
                  <%= hidden_field_tag :to, trade.ressource %>
                  <%= hidden_field_tag :amount, params[:sell_kristall] || 0 %>
                  <%= submit_tag number_with_precision(params[:sell_kristall].to_i * innertrade.value, precision: 0), class: 'numfield', method: :get %>
                <% end %>
              </td>
            <% end %>
            <% if(innertrade.ressource==4) %>
              <td>
                <%= form_tag buy_trade_path(innertrade), method: "get" do %>
                  <%= hidden_field_tag :to, trade.ressource %>
                  <%= hidden_field_tag :amount, params[:sell_treibstoff] || 0 %>
                  <%= submit_tag number_with_precision(params[:sell_treibstoff].to_i * innertrade.value, precision: 0) || '0', class: 'numfield', method: :get %>
                <% end %>
              </td>
            <% end %>
          <% end %>
        <% end %>
        <% if(trade.ressource==2) %>
          <th>
            Kristall
          </th>
          <% @trades.each do |innertrade| %>
            <% if(innertrade.ressource==1) %>
              <td>
                <%= form_tag buy_trade_path(innertrade), method: "get" do %>
                  <%= hidden_field_tag :to, trade.ressource %>
                  <%= hidden_field_tag :amount, params[:sell_metall] || 0 %>
                  <%= submit_tag number_with_precision(params[:sell_metall].to_i * innertrade.value / 2, precision: 0) || '0', class: 'numfield', method: :get %>
                <% end %>
              </td>
            <% end %>
            <% if(innertrade.ressource==2) %>
              <td>
                <%= form_tag("/trades", method: "get") do %>
                  <div class='numfieldvalue'>
                    <%= label_tag (number_with_precision(params[:sell_kristall].to_i, precision: 0) || '0'), nil, class: 'innernumfieldvalue' %>
                  </div>
                <% end %>
              </td>
            <% end %>
            <% if(innertrade.ressource==4) %>
              <td>
                <%= form_tag buy_trade_path(innertrade), method: "get" do %>
                  <%= hidden_field_tag :to, trade.ressource %>
                  <%= hidden_field_tag :amount, params[:sell_treibstoff] || 0 %>
                  <%= submit_tag number_with_precision(params[:sell_treibstoff].to_i * innertrade.value / 2, precision: 0) || '0', class: 'numfield', method: :get %>
                <% end %>
              </td>
            <% end %>
          <% end %>
        <% end %>
        <% if(trade.ressource==4) %>
          <th>
            Treibstoff
          </th>
          <% @trades.each do |innertrade| %>
            <% if(innertrade.ressource==1) %>
              <td>
                <%= form_tag buy_trade_path(innertrade), method: "get" do %>
                  <%= hidden_field_tag :to, trade.ressource %>
                  <%= hidden_field_tag :amount, params[:sell_metall] || 0 %>
                  <%= submit_tag number_with_precision(params[:sell_metall].to_i * innertrade.value / 4, precision: 0) || '0', class: 'numfield', method: :get %>
                <% end %>
              </td>
            <% end %>
            <% if(innertrade.ressource==2) %>
              <td>
                <%= form_tag buy_trade_path(innertrade), method: "get" do %>
                  <%= hidden_field_tag :to, trade.ressource %>
                  <%= hidden_field_tag :amount, params[:sell_kristall] || 0 %>
                  <%= submit_tag number_with_precision(params[:sell_kristall].to_i * innertrade.value / 4, precision: 0) || '0', class: 'numfield', method: :get %>
                <% end %>
              </td>
            <% end %>
            <% if(innertrade.ressource==4) %>
              <td>
                <%= form_tag("/trades", method: "get") do %>
                  <div class='numfieldvalue'>
                    <%= label_tag number_with_precision(params[:sell_treibstoff].to_i, precision: 0) || '0', nil, class: 'innernumfieldvalue' %>
                  </div>
                <% end %>
              </td>
            <% end %>
          <% end %>
        <% end %>
    



      </tr>
    <% end %>


<% if (current_user.is_admin) %> <!-- Userrechte Abfrage current_user.is_admin !-->
  <% @trades.each do |trade| %>
    <tr>
      <td><%= trade.ressource %> </td>
      <td><%= link_to 'Show', trade %></td>
      <td><%= link_to 'Edit', edit_trade_path(trade) %></td>
      <td><%= link_to 'Destroy', trade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  <tr>
    <td>
      <%= link_to 'New Trade', new_trade_path %>
    </td>
  </tr>
<% end %>






  </tbody>
</table>

<br>

