<%= form_for(@science) do |f| %>
  <% if @science.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@science.errors.count, "error") %> prohibited this science from being saved:</h2>

      <ul>
      <% @science.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :cost1 %><br>
    <%= f.number_field :cost1 %>
  </div>
  <div class="field">
    <%= f.label :cost2 %><br>
    <%= f.number_field :cost2 %>
  </div>
  <div class="field">
    <%= f.label :cost3 %><br>
    <%= f.number_field :cost3 %>
  </div>
  <div class="field">
    <%= f.label :factor %><br>
    <%= f.text_field :factor %>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.number_field :duration %>
  </div>
  <div class="field">
    <%= f.label :condition %><br>
    <%= f.text_field :condition %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :tier %><br>
    <%= f.text_field :tier %>
  </div>
  <div class="field">
    <%= f.label :science_condition_id %><br>
    <%= f.number_field :science_condition_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
