<p id="notice"><%= notice %></p>

<h1>Listing Sciences</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cost1</th>
      <th>Cost2</th>
      <th>Cost3</th>
      <th>Duration</th>
      <th>Available</th>
      <th>Level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sciences.each do |science| %>
      <tr>
        <td><%= science.name %></td>
        <td><%= science.cost1 %></td>
        <td><%= science.cost2 %></td>
        <td><%= science.cost3 %></td>
        <td><%= science.duration.strftime("%T") %></td>
        <td><%= "true" %>
        <td><%= 0 %>
        <td><%= link_to 'Research', root_path%></td>
        <td><%= link_to 'Reset', root_path%></td>
        <td><%= link_to 'Show', science %></td>
        <td><%= link_to 'Edit', edit_science_path(science) %></td>
        <td><%= link_to 'Destroy', science, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Science', new_science_path %>
