<p id="notice"><%= notice %></p>

<h1>Listing Sciences</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cost1</th>
      <th>Cost2</th>
      <th>Cost3</th>
      <th>Tier</th>
      <th>Duration</th>
      <th>Available</th>
      <th>Level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% scienceList = SciencesController.getSciences(current_user) %>
    <% current_user.science_instances.sort_by{|instance| instance.science.tier}.each do |science_instance| %>
      <tr>
        <% science = science_instance.science %>
        <td><%= science.name %></td>
        <td><%= science.cost1 %></td>
        <td><%= science.cost2 %></td>
        <td><%= science.cost3 %></td>
        <td><%= science.tier %></td>
        <td><%= Time.at(SciencesController.updateTime(science_instance) - (60 * 60)).strftime("%H:%M:%S").to_s %></td>
        <td><%= "true" %></td>
        <td><%= scienceList[science] %></td>

        <td><%= button_to 'Research', research_science_path(science), method: :get %></td>
        <td><%= link_to 'Show', science %></td>
        <td><%= link_to 'Edit', edit_science_path(science) %></td>
        <td><%= link_to 'Destroy', science, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Science', new_science_path %>
