<p id="notice"><%= notice %></p>

<h1>Sciences</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cost1</th>
      <th>Cost2</th>
      <th>Cost3</th>
      <th>Tier</th>
      <th>Duration</th>
      <th>Available</th>
      <th>Level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.science_instances.sort_by{|instance| instance.science.name}.each do |science_instance| %>
      <tr>
        <% if(science_instance.id) %>
          <% science = science_instance.science %>
          <td><%= science.name %></td>
          <td><%= science.cost1 %></td>
          <td><%= science.cost2 %></td>
          <td><%= science.cost3 %></td>
          <td><%= science.tier %></td>
          <td><%= Time.at(Science.update_time(science_instance) - (60 * 60)).strftime("%H:%M:%S").to_s %></td>
          <td><%= "true" %></td>
          <td><%= science_instance.level %>
          <td><%= button_to 'Research', research_science_instance_path(science_instance), method: :get %></td>
          <td><%= link_to 'Edit', edit_science_path(science) %></td>
          <td><%= link_to 'Destroy', science, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Science', new_science_path %>
