<!DOCTYPE html>
<html>
<head>
	<title>Strategiespiel</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
	<div id="top" >
		<div id="login" class="content">
			<% if !user_signed_in? %>
			  <%= form_for(:user, :url => session_path(:user)) do |f| %>
			  	<%= f.label :login %><br />
  			    <%= f.text_field :login %>
			    <%= f.label :password %><br />
			    <%= f.password_field :password %>
			    <%= f.check_box :remember_me %>
			    <%= f.label :remember_me %>
			    <%= f.submit 'Sign in' %>
				<% end %>
			<% else %>
				<p class="login_text"><%= current_user.username %></p><br>
				<img id="user_icon" src="https://bloggermymaze.files.wordpress.com/2009/09/klassisch_quadratisch_mittig_600.jpg"><br>
				<p class="login_text"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></p>
			<% end %> 
		</div>
		<div id="banner" class="content">
			<p id="game_name">SpielName</p>
		</div>
	</div>

	<div id="mid">
		<div id="ranking" class="content">
			<% if user_signed_in? %>
				<p>Points:</p>
				<p>0</p>
			<% else %>
				<p>Not logged in</p>
			<% end %>
		</div>
		<div id="resources" class="content">
			<p class="tooltip" title="Verfügbare Metall-Resourcen">Metall: 0</p>
			<p class="tooltip" title="Verfügbare Kristall-Resourcen">Kristall: 0</p>
			<p class="tooltip" title="Verfügbare Treibstoff-Resourcen">Treibstoff: 0</p>
		</div>
	</div>
	
	<div id="botm">
		<div id="menu" class="content">
			<br>
			<ul>

				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "Schiffe", ships_path %></li>
				<li><%= link_to "Forschung", root_path %></li>
				<li><%= link_to "Stationen", root_path %></li>
				<li><%= link_to "Anlagen", root_path %></li>
				<li><%= link_to "Einheiten", root_path %></li>
				<li><%= link_to "Rangliste", ranks_path %></li>
				<li><%= link_to "Einstellungen", edit_user_registration_path %></li>
			</ul>
		</div>
		<div id="game" class="content">
			<%= yield %>
		</div>
	</div>
</div>
</body>
</html>
