<!DOCTYPE html>
<html>
<head>
	<title>Strategiespiel</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
<div id="main">
	<div id="wrapper">
		<div id="top" >
			<div id="login" class="content">
				<p>TEST</p>
			</div>
			<div id="banner" class="content">
				<h1>SpielName</h1>
			</div>
		</div>

		<div id="mid">
			<div id="ranking" class="content">
				<%= button_to "Ranks", ranks_path, :class => "button", :method => :get %>
			</div>
			<div id="resources" class="content">
				<%= Time.now %>
			</div>
		</div>

		<div id="botm">
			<div id="menu" class="content">
				<%= link_to("Home", home_index_path) %>
				<% if user_signed_in? %>
					<p>Hallo, <%= current_user.email %> möchtest du dich  
					<%= link_to('ausloggen', destroy_user_session_path, :method => :delete) %>?</p>
					<%= button_to "Overview", root_path, :class => "button", :method => :get %>
					<%= button_to "Science", sciences_path, :class => "button", :method => :get %>
				<% else %>
					<%= link_to('Register', new_user_registration_path) %>
					<%= link_to('Log in', new_user_session_path) %>
				<% end %>
			</div>
			<div id="game" class="content">
				<%= yield %>
			</div>
		</div>
	</div>
</div>
</body>
</html>
