<% if user_signed_in? %>
  <h2>Benutzerprofil ändern</h2>
  <p>von Spieler <%= current_user.username %></p>

  <% if UserIcon.find_by_user_id(current_user.id) != nil %>
    <img id="user_icon_profile" src="<%= image_url(UserIcon.find_by_user_id(current_user.id).image.url) %>"><br>
    <p><%= link_to 'Benutzerbild ändern', edit_user_icon_path(UserIcon.find_by_user_id(current_user.id)) %>
      <%= link_to 'Benutzerbild entfernen', UserIcon.find_by_user_id(current_user.id), method: :delete, data: { confirm: 'Bist du dir sicher?' } %></p>
  <% else %>
    <img id="user_icon_profile" src="<%= image_url('ui/default.png') %>"><br>
    <%= link_to 'Benutzerbild hochladen', new_user_icon_path %>

  <% end %>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label "Neues Passwort eingeben" %> <br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label "Passwort bestätigen" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label "Aktuelles Passwort wird zur Bestätigung benötigt" %><br />
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>

  <h2>Meinen Account löschen</h2>

  <p><%= button_to "Account löschen", registration_path(resource_name), data: { confirm: "Bist du sicher?" }, method: :delete %></p>
<% end %>