<br>
<h2 class="userlabel">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <p class="userlabel"><%= f.label :username %></p><br />
    <p class="usertextfield"><%= f.text_field :username %></p><br />
    <p class="userlabel"><%= f.label :email %></p><br />
    <p class="usertextfield"><%= f.email_field :email, autofocus: true %></p>
  </div>

  <div class="field">
    <p class="userlabel"><%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %></p><br />
    <p class="usertextfield"><%= f.password_field :password, autocomplete: "off" %></p>
  </div>

  <div class="field">
    <p class="userlabel"><%= f.label :password_confirmation %></p><br />
    <p class="usertextfield"><%= f.password_field :password_confirmation, autocomplete: "off" %></p>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", :class => 'submitbutton' %>
  </div>
<% end %>
